.slide-left {
  padding: 4px 16px 38px 16px;
  border-radius: 16px;
   span {
     font-size: 12px;
     color: $gray-dark;
   }
  a {
    i {
      font-size: 14px;
    }
    span {
      font-size: 12px;
    }
  }
  h5 {
    font-family: Lato-Bold, sans-serif;
    color: $h5-color;
  }
}
